@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
body {
    background: #fffcdd;
    padding: 2.23em;
}
.title-pen {
    color: #55acee;
    font-family: "Coda", sans-serif;
    text-align: center;
}
.user-profile {
    margin: auto;
    width: 25em;
    height: 11em;
    background: #fff;
    border-radius: .3em;
}
.user-profile .username {
    margin: auto;
    margin-top: -4.40em;
    margin-left: 5.80em;
    color: #658585;
    font-size: 1.53em;
    font-family: "Coda", sans-serif;
    font-weight: bold;
}
.user-profile .email {
    margin: auto;
    display: inline-block;
    margin-left: 10.43em;
    color: #e76043;
    font-size: .87em;
    font-family: "varela round", sans-serif;
}
.user-profile > img.avatar {
    padding: .7em;
    margin-left: .3em;
    margin-top: .3em;
    height: 6.23em;
    width: 6.23em;
    border-radius: 18em;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}